<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/appearalsgarments.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="fruits">
      <div class="page-container">
        <div class="page-heading">
          <h1>Appearals Garments</h1>
          <p>
            Explore a wide variety of fresh and delicious fruits curated just
            for you!
          </p>
        </div>

        <div class="products-container">
          <% if (appearalsgarments.length > 0) { %> <%
          appearalsgarments.forEach(appearalsgarment => { %>

          <!-- Product 1 -->
          <a
            href="/exports/view/<%= appearalsgarment._id %>"
            class="product-link"
          >
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= appearalsgarment.image %>"
                  alt="<%= appearalsgarment.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= appearalsgarment.name %></h3>
                <span class="product-category"
                  ><%= appearalsgarment.category %></span
                >
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>
        </div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
