<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/chemicals.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="chemicals">
      <div class="page-container">
        <div class="page-heading">
          <h1>Chemicals</h1>
          <p>
            Discover our range of high-quality industrial and agricultural
            chemicals tailored to meet your specific needs.
          </p>
        </div>

        <div class="products-container">

        <% if (chemicals.length > 0) { %> <% chemicals.forEach(chemical => { %>

        <!-- Product 1 -->
        <a href="/exports/view/<%= chemical._id %>" class="product-link">
          <div class="product-card">
            <div class="product-image-container">
              <img
                src="<%= chemical.image %>"
                alt="<%= chemical.name %>"
                class="product-image"
              />
            </div>
            <div class="product-info">
              <h3 class="product-name"><%= chemical.name %></h3>
              <span class="product-category"><%= chemical.category %></span>
            </div>
          </div>
        </a>

        <% }) %> <% } else { %>
        <p>No products Available in this category.</p>
        <% } %>
</div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
