<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/coco.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="coconuts">
      <div class="page-container">
        <div class="page-heading">
          <h1>Coconut</h1>
          <p>
            Explore our premium selection of coconuts and coconut-based
            products, perfect for culinary, cosmetic, and industrial uses.
          </p>
        </div>

        <div class="products-container">
          <% if (coconut.length > 0) { %> <% coconut.forEach(coco => { %>

          <!-- Product 1 -->
          <a href="/exports/view/<%= coco._id %>" class="product-link">
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= coco.image %>"
                  alt="<%= coco.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= coco.name %></h3>
                <span class="product-category"><%= coco.category %></span>
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>
        </div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
