<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/fruits.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="fruits">
      <div class="page-container">
        <div class="page-heading">
          <h1>Fruits & Vegetables</h1>
          <p>
            Explore a wide variety of fresh and delicious fruits curated just
            for you!
          </p>
        </div>

        <div class="products-container">
          <!-- Product 1 -->
          <% if (fruits.length > 0) { %> <% fruits.forEach(fruit => { %>

          <!-- Product 1 -->
          <a href="/exports/view/<%= fruit._id %>" class="product-link">
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= fruit.image %>"
                  alt="<%= fruit.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= fruit.name %></h3>
                <span class="product-category"><%= fruit.category %></span>
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>
        </div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
