<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <style>
      .testimonials .item {
        display: block; /* or flex if needed */
        min-height: max-content;
        padding-bottom: 120px;
      }

      .testimonial-content {
        position: absolute;
        bottom: 10px;
      }

      /* popup  */
      .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.65);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }

      .popup-content {
        background: #fff;
        padding: 4px;
        border-radius: 10px;
        max-width: 500px;
        width: 90%;
        position: relative;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      }

      .popup-content img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }

      .close-popup {
        position: absolute;
        top: -10px;
        right: -10px;
        background: #000;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 20px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <% if (popup) { %>
    <div id="popupModal" class="popup-overlay">
      <div class="popup-content">
        <button id="closePopup" class="close-popup">&times;</button>
        <img src="<%= popup.image_url %>" alt="Popup Banner" />
      </div>
    </div>
    <% } %> <%- include('../partials/navbar'); %>

    <main class="main-container">
      <!--slider section starts here  -->
      <div class="owl-slide owl-carousel">
        <div class="item">
          <img src="upload/sliders/domestic and export.jpg" loading="lazy" />
          <div class="desc">
            <h1>Domestic & Exports</h1>

            <a class="btn1" href="/contact">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="upload/sliders/travel and adv.jpg" loading="lazy" />
          <div class="desc">
            <h1>Adventure and Travel</h1>
            <a class="btn1" href="/contact">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="upload/sliders/event management.jpg" loading="lazy" />
          <div class="desc">
            <h1>Event Management</h1>
            <a class="btn1" href="/contact">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="upload/sliders/transport & logistic.jpg" loading="lazy" />
          <div class="desc">
            <h1>Transport & Logistics</h1>
            <a class="btn1" href="/contact">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="upload/sliders/care management.jpg" loading="lazy" />
          <div class="desc">
            <h1>Care management</h1>
            <a class="btn1" href="/contact">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img
            src="/public/upload/sliders/industrial and corp.jpg"
            loading="lazy"
          />
          <div class="desc">
            <h1>Industrial and Corporate Services</h1>
            <a class="btn1" href="/contact">Contact Now</a>
          </div>
        </div>
        <div class="item">
          <img src="/public/upload/sliders/consultant.jpg" loading="lazy" />
          <div class="desc">
            <h1>Consultancy services</h1>
            <a class="btn1" href="/contact">Contact Now</a>
          </div>
        </div>
      </div>
      <!-- slider section ends here -->

      <!--what we offer our premium products  -->
      <div class="home_products py-5 bg-grey">
        <div class="container-fluid">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <span>What We Offer</span>
            <h2>Our Premium Products</h2>
          </div>
          <div class="grid_view">
            <a
              class="item"
              href="/fruits"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/fruits.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Fruits <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="/fruits"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/vegetables.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Vegetables <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="/nutsdryfruits"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/walnut.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Nuts <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="/grainsandcereals"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/wheat.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Grains <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="/spises"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/spice.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Spices <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="/pulses"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/pulses.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Pulses <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="/coconut"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img class="w-100" src="upload/coconut.jpg" loading="lazy" />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Coconuts <i class="fa fa-arrow-right"></i></h4>
            </a>

            <a
              class="item"
              href="/chemicals"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="img">
                <img
                  class="w-100"
                  src="upload/bananapowder.jpg"
                  loading="lazy"
                />
                <span class="btn"><i class="fas fa-link"></i></span>
              </div>
              <h4>Chemicals<i class="fa fa-arrow-right"></i></h4>
            </a>
          </div>
        </div>
      </div>
      <!--what we offer our premium products  -->

      <!-- Consultation service section starts here -->
      <% if (Exports && Exports.length > 0) { %>
      <div class="service2 py-5">
        <div class="container-fluid">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <!-- <span>Exports</span> -->
            <h2>Exports</h2>
          </div>
          <div class="owl-5 owl-carousel">
            <% Exports.forEach(Exports => { %>
            <a class="item" href="/exports/view/<%= Exports._id %>">
              <figure>
                <img
                  src="<%= Exports.image || Exports.description %>"
                  alt="<%= Exports.title %>"
                />
              </figure>
              <div class="desc"><%= Exports.name %></div>
            </a>
            <% }); %>
          </div>
        </div>
      </div>
      <% } %>

      <!-- Facility management section ends here -->

      <!-- Taxi Service Section starts here -->
      <!-- <div class="services py-5 bg-grey">
        <div class="container">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <span>Taxi Services</span>
            <h2>We provide top taxi services</h2>
          </div>
          <div class="row">
            <div class="col-md-4" data-aos="fade-right" data-aos-duration="700">
              <a class="item" href="servicesa9bc.html?id=19">
                <div class="icon"><img src="upload/swift.jpg" /></div>
                <div class="d-flex justify-content-between gap-3 bg-1">
                  <h4>Swift Dzire</h4>
                  <span><i class="fas fa-arrow-right"></i></span>
                </div>
              </a>
            </div>

            <div class="col-md-4" data-aos="fade-right" data-aos-duration="700">
              <a class="item" href="servicese5cc.html?id=20">
                <div class="icon"><img src="upload/innova.jpg" /></div>
                <div class="d-flex justify-content-between gap-3 bg-1">
                  <h4>Tata Innova</h4>
                  <span><i class="fas fa-arrow-right"></i></span>
                </div>
              </a>
            </div>

            <div class="col-md-4" data-aos="fade-right" data-aos-duration="700">
              <a class="item" href="services6258.html?id=21">
                <div class="icon"><img src="upload/hyundai.jpg" /></div>
                <div class="d-flex justify-content-between gap-3 bg-1">
                  <h4>Hyundai</h4>
                  <span><i class="fas fa-arrow-right"></i></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Taxi Service Section ends here -->

      <!-- Join as a vender form starts here -->
      <div id="vendor" class="enquiry_wrap bg-3">
        <div
          class="bg-img d-none d-sm-block"
          style="background-image: url('upload/bg2.jpg')"
          data-aos="fade-right"
          data-aos-duration="700"
        ></div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-sm-0">
              <div
                class="form2 py-5 px-5 bg-2"
                data-aos="fade-left"
                data-aos-duration="700"
              >
                <div
                  class="heading mb-4"
                  data-aos="fade-up"
                  data-aos-duration="700"
                >
                  <span>Supplier</span>
                  <h2 class="text-white">Join as vendor</h2>
                </div>
                <a
                  href="/register-vendor"
                  class="btn btn-lg btn-warning fw-bold d-inline-flex align-items-center px-4 py-2 shadow"
                >
                  Start Your Registration
                  <i class="bi bi-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Join as a vender form ends here -->

      <!-- Testimonial section section start here -->
      <div class="testimonials py-5 bg-grey">
        <div class="container">
          <div
            class="heading text-center mb-4"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <span>Testimonials</span>
            <h2>What Our Client Says</h2>
          </div>
          <div class="owl-2 owl-carousel">
            <div class="item">
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="testimonial-quote">
                <p class="text-justify">
                  Indrajay Enterprises is a reliable partner for fresh produce
                  imports, consistently delivering high-quality Indian red
                  onions and bananas. Their careful packaging ensures minimal
                  spoilage. The team is responsive, transparent, and committed
                  to long-term partnerships. We value our collaboration and look
                  forward to continued business growth with them.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="img">
                  <img src="upload/face.jpg" alt="" />
                </div>
                <div class="info">
                  <h4>— Fresh Produce Importer LLC</h4>
                  <p>Dubai</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="testimonial-quote">
                <p class="text-justify">
                  Indrajay Enterprises has transformed our transport operations
                  with punctual, secure, and professional service. Their
                  reliable fleet and proactive communication ensure smooth
                  deliveries. From local to long-haul logistics, every shipment
                  is handled with care. They've helped reduce delays, boost
                  customer satisfaction, and streamline our supply chain as a
                  trusted logistics partner.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="img">
                  <img src="upload/face.jpg" alt="" />
                </div>
                <div class="info">
                  <h4>— Rajesh Kulkarni, Logistics Head</h4>
                  <p>Pune</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="testimonial-quote">
                <p class="text-justify">
                  Indrajay Enterprises has enhanced our green mango supply chain
                  with reliable logistics and quality-focused service. They
                  helped us scale without compromising freshness, ensuring our
                  produce arrived in perfect condition. Their responsive and
                  transparent team shares our values, making them not just a
                  vendor, but a trusted growth partner.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="img">
                  <img src="upload/face.jpg" alt="" />
                </div>
                <div class="info">
                  <h4>— Kunal Bankar, Co-Founder, Bankar Farms</h4>
                  <p>Baramati</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="testimonial-quote">
                <p class="text-justify">
                  Partnering with Indrajay Enterprises has greatly improved our
                  industrial operations. Their expert team delivers precise,
                  professional services—from maintenance to optimization—with a
                  strong focus on safety and efficiency. Their proactive
                  approach reduced downtime and boosted productivity. More than
                  a service provider, they’re a trusted strategic ally in our
                  growth journey.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="img">
                  <img src="upload/face.jpg" alt="" />
                </div>
                <div class="info">
                  <h4>— Abhijeet Deshmukh, Operations Manager</h4>
                  <p>Pune</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="testimonial-quote">
                <p class="text-justify">
                  Our experience with Indrajay Enterprises was exceptional.
                  Their team ensured seamless travel, expert-guided trekking,
                  and flawless event management. From stunning routes to
                  well-planned corporate activities, every detail was handled
                  with care and professionalism. They don’t just organize
                  trips—they create unforgettable journeys. Highly recommended
                  for travel and event experiences.
                </p>
              </div>
              <div class="testimonial-content">
                <div class="img">
                  <img src="upload/face.jpg" alt="" />
                </div>
                <div class="info">
                  <h4>— Ravi Mehta</h4>
                  <p>Pune</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial section ends here -->
    </main>

    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const popup = document.getElementById("popupModal");
      const closeBtn = document.getElementById("closePopup");

      if (popup && closeBtn) {
        closeBtn.addEventListener("click", function () {
          popup.style.display = "none";
        });
      }
    });
  </script>
</html>
