<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/jaggery.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="jaggery">
      <div class="page-container">
        <div class="page-heading">
          <h1>Jaggery</h1>
          <p>
            Discover the natural sweetness of jaggery, a traditional and healthy
            alternative to refined sugar, rich in minerals and flavor.
          </p>
        </div>

        <div class="products-container">
          <!-- Product 1 -->

           <% if (jaggery.length > 0) { %> <% jaggery.forEach(oilseed => { %>

          <!-- Product 1 -->
          <a href="/exports/view/<%= jagg._id %>" class="product-link">
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= jagg.image %>"
                  alt="<%= jagg.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= jagg.name %></h3>
                <span class="product-category"><%= jagg.category %></span>
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>

     

         

        


    
        </div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
