<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/nutsdryfruits.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="nutsfruits">
      <div class="page-container">
        <div class="page-heading">
          <h1>Nuts & Dry Fruits</h1>
          <p>
            Savor the rich taste and health benefits of premium-quality nuts and
            dry fruits, perfect for snacking and nutrition-packed recipes.
          </p>
        </div>

        <div class="products-container">
           <% if (nutsdryfruits.length > 0) { %> <% nutsdryfruits.forEach(oilseed => { %>

          <!-- Product 1 -->
          <a href="/exports/view/<%= nutsdryfruit._id %>" class="product-link">
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= nutsdryfruit.image %>"
                  alt="<%= nutsdryfruit.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= nutsdryfruit.name %></h3>
                <span class="product-category"><%= nutsdryfruit.category %></span>
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>

        </div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
