<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/oilseeds.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="oilseeds">
      <div class="page-container">
        <div class="page-heading">
          <h1>Oil Seeds</h1>
          <p>
            Discover high-quality oil seeds rich in nutrients and essential
            fats—ideal for oil extraction, cooking, and health-focused
            consumption.
          </p>
        </div>

        <div class="products-container">
          <% if (oilseeds.length > 0) { %> <% oilseeds.forEach(oilseed => { %>

          <!-- Product 1 -->
          <a href="/exports/view/<%= oilseed._id %>" class="product-link">
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= oilseed.image %>"
                  alt="<%= oilseed.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= oilseed.name %></h3>
                <span class="product-category"><%= oilseed.category %></span>
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>

          <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
        </div>
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
