<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/packagingmaterials.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="packagingmaterials">
      <div class="page-container">
        <div class="page-heading">
          <h1>Packaging Materials</h1>
          <p>
            Browse a comprehensive selection of durable and eco-friendly
            packaging materials designed to preserve product quality and ensure
            safe delivery.
          </p>
        </div>

        <div class="products-container">
          <% if (packagingmaterials.length > 0) { %> <%
          packagingmaterials.forEach(packagingmaterial => { %>

          <!-- Product 1 -->
          <a
            href="/exports/view/<%= packagingmaterial._id %>"
            class="product-link"
          >
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= packagingmaterial.image %>"
                  alt="<%= packagingmaterial.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= packagingmaterial.name %></h3>
                <span class="product-category"
                  ><%= packagingmaterial.category %></span
                >
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>
        </div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
