<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/spises.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <section class="spises">
      <div class="page-container">
        <div class="page-heading">
          <h1>Spices</h1>
          <p>
            Explore a wide variety of fresh, nutritious, and wholesome pulses,
            carefully selected just for you!
          </p>
        </div>

        <div class="products-container">
          <% if (spises.length > 0) { %> <% spises.forEach(spice => { %>

          <!-- Product 1 -->
          <a href="/exports/view/<%= spice._id %>" class="product-link">
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= spice.image %>"
                  alt="<%= spice.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= spice.name %></h3>
                <span class="product-category"><%= spice.category %></span>
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>
        </div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
