<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/woodenpalets.css" />
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="woodenpalets">
      <div class="page-container">
        <div class="page-heading">
          <h1>Wooden Pallets</h1>
          <p>
            Explore a wide variety of sturdy and reliable wooden pallets,
            crafted to meet your storage and transportation needs!
          </p>
        </div>

        <div class="products-container">
          <% if (woodenpalets.length > 0) { %> <%
          woodenpalets.forEach(woodenpalet => { %>

          <!-- Product 1 -->
          <a href="/exports/view/<%= woodenpalet._id %>" class="product-link">
            <div class="product-card">
              <div class="product-image-container">
                <img
                  src="<%= woodenpalet.image %>"
                  alt="<%= woodenpalet.name %>"
                  class="product-image"
                />
              </div>
              <div class="product-info">
                <h3 class="product-name"><%= woodenpalet.name %></h3>
                <span class="product-category"
                  ><%= woodenpalet.category %></span
                >
              </div>
            </div>
          </a>

          <% }) %> <% } else { %>
          <p>No products Available in this category.</p>
          <% } %>
        </div>
        <!-- <div class="view-more">
          <button class="view-more-btn">View More Products</button>
        </div> -->
      </div>
    </section>
    <%- include('../partials/footer'); %> <%- include('../partials/scripts'); %>
  </body>
</html>
